google-analytics-data>=0.18.18
google-auth>=2.35.0
google-auth-oauthlib>=1.2.1
googleads>=43.0.0
pandas>=2.2.2
python-dotenv>=1.0.1
PyYAML>=6.0.2
streamlit>=1.36.0
openpyxl>=3.1.5
reportlab>=4.2.2
matplotlib>=3.9.2
requests>=2.32.3
beautifulsoup4>=4.12.3
